.container{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.align{
    text-align: center;
}

.orders{
    max-height: 312px;
    overflow-y: scroll;
    margin-bottom: 40px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row > div{
    display: flex;
    align-items: center;
}

.img{
    width: 64px;
    height: 64px;
    border-radius: 64px;
    border: 1px solid #801AB2;
}