/*
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

.container_size {
    flex-basis: 600px;
}*/

.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.container {
    composes: flex_row ;
    align-items: flex-start;
}

.container_left, .container_right {
    flex-basis: 600px;
}

.fullscreen_message {
    position: relative;
    top: 40vh;
    text-align: center;
}
