.ingredient_details_container {
    composes: flex_column from global;
    width: 520px;
}

.ingredient_nutrition_list {
    composes: flex_row from global;
    justify-content: space-between;
    width: 520px;
    /* ? */
    column-gap: 20px;
}

.ingredient_nutrition_list_item {
    composes: flex_column from global;
    row-gap: 8px;
}






.My_link:link {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
}
.My_link:visited {
    color: #fff;
}
.My_link:hover {
    color: yellow;
}
.My_link:active {
    color: teal;
}


.activeRoute {
    background-color: yellow;
    border-bottom: 0.4rem solid teal;
    cursor: not-allowed;
}
