.container {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.info {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.item {
    color: #8585AD;
    text-align: center;
}

.item:not(:last-child) {
    margin-right: 20px;
}